---
layout: layouts/base.njk
---

<article>
  <h1 style="margin-bottom:6px;">{{ title }}</h1>

  <p style="margin-top:0;color:#555;">
    {% if date %}
      <span>{{ date | date("yyyy-LL-dd") }}</span>
    {% endif %}
    {% if category %}
      <span> · {{ category }}</span>
    {% endif %}
  </p>

  <hr>

  {{ content | safe }}
</article>
