---
layout: layouts/base.njk
---

<article class="post">
  {% if cover %}
    <img class="post-cover" src="{{ cover | url }}" alt="{{ title }}">
  {% endif %}

  <h1>{{ title }}</h1>

  <div class="meta">
    {% if date %}{{ date | date }}{% endif %}
    {% if category %} · {{ category }}{% endif %}
  </div>

  <div class="hr"></div>

  {{ content | safe }}
</article>
