---
layout: layouts/base.njk
pagination:
  data:
    - name: "Selección"
      slug: "seleccion"
    - name: "División Profesional"
      slug: "division-profesional"
    - name: "Copa Simón Bolívar"
      slug: "copa-simon-bolivar"
    - name: "ACF Primera A"
      slug: "acf-primera-a"
    - name: "ACF Primera B"
      slug: "acf-primera-b"
    - name: "ACF Ascensos"
      slug: "acf-ascensos"
    - name: "Internacional"
      slug: "internacional"
    - name: "Automovilismo"
      slug: "automovilismo"
    - name: "Otros Deportes"
      slug: "otros-deportes"
  size: 1
  alias: cat
permalink: "categoria/{{ cat.slug }}/index.html"
title: "Categoría"
---

<h1>{{ cat.name }}</h1>

<ul>
  {% for post in collections.all | reverse %}
    {% if post.url != "/" and post.data.category == cat.name %}
      <li style="margin-bottom:12px;">
        <a href="{{ post.url | url }}" style="font-weight:700;">
          {{ post.data.title }}
        </a>
        <div style="font-size:14px;color:#555;">
          {{ post.data.date | date }}
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>
