---
layout: layouts/base.njk
title: Inicio
---

<h1>Últimas noticias</h1>

<ul>
  {% for post in collections.posts %}
    <li style="margin-bottom:14px;">
      <a href="{{ post.url | url }}" style="font-weight:700;">
        {{ post.data.title }}
      </a>

      <div style="font-size:14px;color:#555;">
        {{ post.data.date | date }}
        {% if post.data.category %}
          · {{ post.data.category }}
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
